html,
body{
   font-family: 'Poppins', sans-serif;
   background-color:#4fbdc1;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
  
  body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container{
    background-color:#7177a8;
    padding: 10px 24px;
    border-radius: 20px;
    width: 490px;
  }
  
  h1{
    color:#da872e;
    text-align: center;
    margin-bottom: 0.5em;
    font-family: sans-serif;
  }
  .container .box{
    width: 100%;
    display: flex;
  }
  .box div{
    width: 100%;
  }
  
  select{
    width: 95%;
    height: 40px;
    font-size: 1.2em;
    cursor: pointer;
    background-color:rgb(53, 156, 188);
    outline: none;
    color: rgb(163, 56, 56);
    margin: 0.2em 0;
    padding: 0 1em;
    border-radius: 10px;
    border: none;
  }
  
  
  input{
    width: 80%;
    height: 40px;
    font-size: 1em;
    margin: 0.2em 0;
    border-radius: 10px;
    border: none;
    background: #cccccc;
    outline: none;
    padding: 0 1em;
  }
  
  .btn{
    display:flex;
    justify-content: center;
  }
  
  button{
    width: 58%;
    height: 40px;
    background-color:#ffeba7;
    color: #102770;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin: 0.5em 0;
  
  }