
 body {
    font-family: Arial, sans-serif;
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.card {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

small {
    display: block;
    margin-top: 5px;
}
