body {
    height: 100vh;
    margin: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 25px;
}
li,p,ul{
    display:inline
}
ul{
    margin-left: 70%;
    color: white;
}
li{
    margin-right: 50px;
}
.border1{
    border-style: dotted;
}
.border2{
    border-style: solid;
    border-radius: 15px;
}
.border3{
    border-style: solid;
    border-color: red;
}
.border4{
    border-style: solid;
    border-width: 8px;
}
p{
    font-size: 30px;
    color: gold;
}
h2{
    text-align: center;
}
a{
    color: white;
    font-size: 24px;
    align-items: center;
}
table {
    font-size: 40px;
}
.form-box {
    width: 450px;
    background: white;
    padding: 25px;
    margin: 100px auto;
    border-radius: 10px;
}
