.card{
  background-color: rgb(231, 231, 216);
  border: 1px solid rgb(122, 117, 117);
  border-radius: 5px;
  font-family: sans-serif;
  box-shadow: 2px 2px 12px #aaaaaa;
  display: inline-block;
  margin: 10px;
  width: 200px;
  height: auto;
}
.card img{
  width: 200px;
  height: 200px;
  border-radius: 5px 5px 0px 0px; 
}
h3,p{
  text-align: center;
}
.card button{
  background-color: rgb(79, 249, 79);
  font-weight: bold;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;  
  padding: 0px 6px;
  margin-right: 10px;
}
.btn1{
  margin-left: 25px;
}
.card button.delete{
  background-color: black;
  color: white;
  margin: 10px 25%;
  width: 100px;

}
.card p{
  font-size: 15px;
  font-style: italic;
}
